* {
    margin: 0;
    padding: 0;
}

.container {
    width: 430px;
    height: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
}

.header h1 {
    font-family: 'Montserrat' sans-serif;
    font-size: 30px;
    padding-top: 40px;
    padding-left: 10px;
}

.header i {
    font-size: 25px;
    display: flex;
    text-align: end; 
    padding-top: 45px;
    padding-left: 230px;
    
}


.search input {
    width: 400px;
    position: relative;
    left: 10px;
    top: 5px;
    height: 30px;
    border-radius: 5px;
}

.swiper {
  position: relative;
  top: 10px;
}


.swiper-slide {  
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.swiper-pagination {
    margin-top: 100px;
}

.most-popular h1 {
    font-family: 'Montserrat' sans-serif;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 10px;
}

.container-card {
    display: flex;
    width: 420px;
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    left: 4px;
    top: 5px;
    margin: 0px 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

.kategori h1 {
    font-family: 'Montserrat' sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.container-card-kedua {
    display: flex;
    width: 422px;
    height: 300px;
    flex-wrap: wrap;
    gap: 8px;
}

.container-card-kedua a {
    text-decoration: none;
    color: black;
}

.card-kategori {
    width: 200px;
    height: 250px;
    box-shadow: 2px 2px  rgba(0,0,0,0.8);
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: 10px;
}

.card-kategori h1 {
    text-align: center;
    text-decoration: none;
}

.card-kategori img {
    width: 200px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}





